{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
  <title>yadi website</title>
</head>
<body>
<!-- <h1>SELAMAT DATANG DI HALAMAN WEBSITE SAYA </h1>
<P>Tujuan terbuatnya halaman website ini untuk memenuhi tugas mata kuliah bahasa pemrograman </P>
<p>dan kebetulan saya sedang belajar,mohon di maklumi apabila website ini sangat sederhana dan tidak terlalu bagus</p>
<p>Klik <a href="halaman1.html" >disini</a> untuk mengetahui informasi lebih lanjut</p> -->
<nav class="navbar navbar-expand-lg bg-secondary  ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'vendor/images/yadi.png' %}"  alt="" width="50" height="50">
    </a>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav px-3">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active text-white" aria-current="page" href="#tentang">tentang</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active text-white" aria-current="page" href="#kontak">kontak</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<section id="home">
  <div class="container pt-5">
    <h1>SELAMAT DATANG DI HALAMAN WEBSITE SAYA </h1>
    <P>Tujuan terbuatnya halaman website ini untuk memenuhi tugas mata kuliah bahasa pemrograman </P>
    <p>dan kebetulan saya sedang belajar,mohon di maklumi apabila website ini sangat sederhana dan tidak terlalu bagus</p>
    <p>Klik <a href="halaman1.html" >disini</a> untuk mengetahui informasi lebih lanjut</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
  

  </div>
</section>

<section id="tentang">
  <div class="container">
    <h1>TENTANG</h1>
    <p>perkenalkan nama saya Mulyadi saya lahir di pamekasan pada tanggal 21 oktober 2001 lalu,</p>
    <p>dan sekaligus saya tinggal di pamekasan bersama ibu saya,dan saat ini saya sedang menempuh</p>
    <p>pendidikan di salah satu kampus ternama yang letaknya di pamekasan yaitu <b>UNIVERSITAS ISLAM MADURA</b></p>
    <p>atau lebih di kenal dengan nama <b>(UIM)</b>,dan saya sangat bersyukur kepada tuhan YME karna berkat rahmat </p>
    <p>dan hidayahnya saya masih di beri kesempatan untuk kuliah setelah tahap tahap rintangan dari termudah sampai</p>
    <p>tersusah sekalipun,berkat do'a dan dukungan dari orang tua tentunya,</p>
    <p>jika ingin mengenal saya lebih jauh,kalian bisa mengikuti akun akun sosial media saya dengan cara</p>
    <p>klik <b>KONTAK</b> pada navbar.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</section>

<section id="kontak">
  <div class="container">
  <H1>SILAHKAN HUBUNGI SAYA LEWAT AKUN SOSIAL SAYA DI BAWAH INI</H1> 
  <OL>
    <li> <a href="https://www.facebook.com/mufa.bhawellznamtiga">FACEBOOK</a></li>
    <BR>
    <LI><a href="https://instagram.com/yadi_zhaputra?igshid=YmMyMTA2M2Y=">ISTAGRAM</a></LI>
    <BR>
    <LI><a href="https://wa.me/6283850297509">WHATSAPP</a></LI>
    
  </OL>
   <br><br><br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</section>

</body>
</html>